{% extends '../header.html' %}
{% load date_readable %}
{% load static %}
{% block content %}

<div style="width: 100%; ">

    {% comment %} <div class="uk-card uk-card-primary uk-card-body">
        <div uk-grid style="width: 100%;">
            <div>
                <div class="uk-flex">
                    <div><a href="#">Visa</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#">Packages</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#">Tickets</a></div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-flex">
                    <div><a href="#">Insurance</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#"><span uk-icon="icon:push"></span></a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#"><span uk-icon="icon:user"></span></a></div>
                </div>
            </div>
            </div>
        </div>
    </div> {% endcomment %}

{% include '../agent_navbar.html' %}


    <center>

        <br/>
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Customer Details</a></li>
            <li class="uk-disabled"><a>Travel Details</a></li>
            <li class="uk-disabled"><a>Payments</a></li>
        </ul>

        <div class="uk-card uk-card-default uk-card-body" style="text-align: left;width: 70%; margin-top: 5%; background-color: rgb(224, 224, 224);font-family: Roboto; color: black;">
            <label style="font-size: 160%; font-weight: 600; color: rgb(0, 116, 161);">STEP 1: Customer Details</label>
            <hr style="border-color: black;">
            <div class="uk-alert-primary" uk-alert id="alertbox">
            </div>
            <div uk-grid class="uk-child-width-1-2">
                <div>
                    Package Name:<br/>
                    <input class="uk-input" style="width: 70%;" type="text" id="package_name" value="{{ travel_tickets_obj.package_name }}">
                </div>
                <div>
                    Client Name:<br/>
                    <label style="font-size: 120%;" id="client_name">{% if travel_tickets_obj %}{{ travel_tickets_obj.travel_client_ref.client_name }}{% endif %}</label>
                    <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #tickets-selection-client-selection">Scan</button>
                    {% include 'travel/tickets/dialogs/ticket_application__client_selection.html' %}
                </div>
                <div class="uk-width-1-1">
                    Contact number:<br/>
                    <label style="font-size: 70%;">The number format is - +91XXXXXXXXXX</label><br/><br/>
                    <input class="uk-input" style="width: 50%;" type="number" id="contact_no" value="{{ travel_tickets_obj.contact_number }}"><br/>
                </div>
                <div class="uk-width-1-1">
                    <hr style="border-color: black;">
                </div>
                <div class="uk-width-1-1">
                    <label style="font-size: 130%; font-weight: 600; color: rgb(0, 116, 161);">TRIP DETAILS</label><br/><br/>
                    Trip Type:<br/>
                    <select class="uk-select" onchange="selectTripType(this)" id="form-horizontal-select" style="width: 50%;">
                        {% for elem in tickets_type %}
                            <option value="{{ elem }}">{{ elem }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    Select the Origin city: <br/>
                    <ul class="uk-list uk-list-divider" style="padding: 3%; background-color: white; width: 70%; height: 100px; overflow-y: scroll; scroll-behavior: smooth;">
                        {% for elem in all_cities %}
                            <li>
                                <label onclick="selectOrigin('{{ elem }}')">
                                    {% if elem == travel_tickets_obj.origin %}
                                        <input class="uk-radio" type="radio" name="origin" value="{{ elem }}" checked>
                                    {% else %}
                                        <input class="uk-radio" type="radio" name="origin" value="{{ elem }}">
                                    {% endif %}
                                     {{ elem }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    Select the Destination city: <br/>
                    <ul class="uk-list uk-list-divider" style="padding: 3%; background-color: white; width: 70%; height: 100px; overflow-y: scroll; scroll-behavior: smooth;">
                        {% for elem in all_cities %}
                            <li>
                                <label onclick="selectDestination('{{ elem }}')">
                                    {% if elem == travel_tickets_obj.destination %}
                                        <input class="uk-radio" type="radio" name="destination" value="{{ elem }}" checked>
                                    {% else %}
                                        <input class="uk-radio" type="radio" name="destination" value="{{ elem }}">
                                    {% endif %}
                                     {{ elem }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="uk-width-1-1">
                    Via:<br/>
                    <input class="uk-input" style="width: 50%;" type="text" id="via" value="{{ travel_tickets_obj.via }}"><br/>
                    <ul class="uk-list uk-list-divider" style="padding: 3%; background-color: white; width: 70%; height: 100px; overflow-y: scroll; scroll-behavior: smooth;">
                        {% for elem in all_cities %}
                            <li>
                                <label onclick="toggleViaBlock('{{ elem }}')">
                                    {% if elem in travel_tickets_obj.via|return_array_from_csv %}
                                        <input class="uk-checkbox" type="checkbox" id="via_city_{{ elem }}" checked>
                                    {% else %}
                                        <input class="uk-checkbox" type="checkbox" id="via_city_{{ elem }}">
                                    {% endif %}
                                    &nbsp;&nbsp;&nbsp;{{ elem }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-width-1-1">
                    <hr style="border-color: black;">
                </div>
                <div class="uk-width-1-1">
                    <label style="font-size: 130%; font-weight: 600; color: rgb(0, 116, 161);">MODE OF TRANSPORT</label><br/><br/>
                    <div class="uk-tile uk-tile-default" style="padding: 2% 2%; font-weight: 700; width: 60%; ">
                        <ul class="uk-tab-bottom" uk-tab>
                            <li class="uk-active" onclick="selectTransportMode('Flight')"><a href="#">Flight</a></li>
                            <li onclick="selectTransportMode('Train')"><a href="#">Train</a></li>
                            <li onclick="selectTransportMode('Bus')"><a href="#">Bus</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="uk-width-1-1">&nbsp;</div>
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-default" onclick="createTicketApplication('{{ csrf_token }}','{{ request.user.id }}', false, '{{ travel_tickets_obj.id }}', '{{ travel_tickets_obj.travel_client_ref.id }}', 'customer_details')">Save Changes</button>
                </div>
                <div class="uk-width-1-3">
                    <button uk-toggle="target: #my-id" class="uk-button uk-button-secondary">Block Application</button>
                    <div id="my-id" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3 class="uk-modal-title">Block Application?</h3>
                            <p>You are blocking the application, which means follow-up will be created for this client.</p>
                            <p>
                                Select the time at which the client would be available for call:
                                <input class="uk-input" type="time" style="width: 50%;">
                            </p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-primary" type="button">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-primary" onclick="createTicketApplication('{{ csrf_token }}','{{ request.user.id }}', true, '{{ travel_tickets_obj.id }}', '{{ travel_tickets_obj.travel_client_ref.id }}', 'customer_details')">Continue</button>
                </div>
            </div>
        </div>

        <br/>

    </center>

</div>

{% endblock content %}