{% extends '../header.html' %}
{% load static %}
{% block content %}

<div style="width: 100%; ">

{% include '../agent_navbar.html' %}


    <center>

        <br/>
        <nav>
        <ul class="uk-breadcrumb">
            <li><a href={% url 'visa-application' %}>Home</a></li>
            <li><span style="color: black;">Details Processing</span></li>
            <li><a href={% url 'visa-document-processing' app_pk=app_id %}>Document Processing</a></li>
            <li><a href={% url 'visa-payment-processing' app_pk=app_id %}>Payment Processing</a></li>
        </ul>
    </nav>

        <div class="uk-card uk-card-default uk-card-body" style="text-align: left;width: 70%; margin-top: 5%; background-color: rgb(224, 224, 224); font-family: Roboto; color: black;">
            <label style="font-size: 160%; font-weight: 600; color: rgb(0, 116, 161);">STEP 1: Details Processing</label>
            <hr style="border-color: black;">
            <div class="uk-alert-primary" uk-alert id="alertbox">
            </div>
            <div uk-grid class="uk-child-width-1-2">
                <input type="hidden" id="client_id">
                <div>
                    Select client:<br/>
                    <label style="font-size: 120%;" id="client_name">{% if travel_visa_obj %}{{ travel_visa_obj.travel_client_ref.client_name }}{% endif %}</label>
                    <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #visa-application-client-selection">Scan</button>
                    {% include 'travel/visa/dialogs/visa_application__client_selection.html' %}
                    <!-- <input class="uk-input" id="visa_client_name" style="width: 70%;" type="text"> -->
                </div>
                <div>
                    Customer Name:<br/>
                    <input class="uk-input" id="applicant_name" style="width: 70%;" type="text" value="{{ travel_visa_obj.applicants_name }}">
                </div>
                <div>
                    Passport number:<br/>
                    <label style="font-size: 70%;">The passport is of the format - 5452407DH and of 8 characters</label><br/><br/>
                    <input class="uk-input" id="passport_number" style="width: 70%;" type="text" value="{{ travel_visa_obj.passport_no }}"/>
                </div>
                <div>
                    Contact number:<br/>
                    <label style="font-size: 70%;">The number format is - 98XXXXXXXX</label><br/><br/>
                    <input class="uk-input" id="contact_number" style="width: 70%;" type="text" value="{{ travel_visa_obj.contact_number }}">
                </div>
                <div>
                    Select the visiting country: <br/>
                    <ul class="uk-list uk-list-divider" id="country_list" style="padding: 3%; background-color: white; width: 70%; height: 150px; overflow-y: scroll; scroll-behavior: smooth;" onload="scrollToSelected('{{ travel_visa_obj.visiting_country }}')">
                        {% for elem in countries %}

                            <li>
                                <label id="{{ elem }}" onclick="setSelectedCountry(this)">
                                    {% if elem == travel_visa_obj.visiting_country %}
                                    <input class="uk-radio" type="radio" id="radio1" name="radio1" value="{{elem}}" checked>
                                    {% else %}
                                    <input class="uk-radio" type="radio" id="radio1" name="radio1" value="{{elem}}">
                                    {% endif %}
                                    {{ elem }}
                                </label>
                            </li>

                        {% endfor %}
                        
                    </ul>
                </div>
                <div>
                    Sub-Location:<br/>
                    <label style="font-size: 70%;">Use the same if te location comes within Schengen Agreement</label><br/><br/>
                    <input class="uk-input" id="sub_location" style="width: 70%;" type="text" value="{{ travel_visa_obj.sub_location }}"/>
                </div>
                <div>
                    Receipt Date:<br/>
                    <label style="font-size: 70%;">Use the same if te location comes within Schengen Agreement</label><br/><br/>
                    <input class="uk-input" id="receipt_date" style="width: 70%;" type="date" value="{{ travel_visa_obj.receipt_date }}"/>
                </div>
                <div>
                    Ref Number:<br/>
                    <label style="font-size: 70%;">Use the same if te location comes within Schengen Agreement</label><br/><br/>
                    <input class="uk-input" id="ref_num" style="width: 70%;" type="text" value="{{ travel_visa_obj.ref_num }}"/>
                </div>
                <div class="uk-width-1-1">&nbsp;</div>
                {% if travel_visa_obj.status != "blocked" %}
                {% if travel_visa_obj.visiting_country %}
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-default uk-width-1-1" onclick="updateDocumentProcessing('{{ csrf_token }}', '{{ app_id }}', false, 'detail processing', '')">Save Changes</button>
                </div>
                {% else %}
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-default uk-width-1-1" onclick="createVisaApplication('{{ csrf_token }}','{{ request.user.id }}', false, '{{ travel_visa_obj.id }}', '{{ travel_visa_obj.travel_client_ref.id }}', '')">Save Changes</button>
                </div>
                {% endif %}
                <div class="uk-width-1-3">
                    <button uk-toggle="target: #my-id" class="uk-button uk-button-secondary uk-width-1-1">Block Application</button>
                    <div id="my-id" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3 class="uk-modal-title">Block Application?</h3>
                            <p>You are blocking the application, which means follow-up will be created for this client.</p>
                            <p>
                                client's name:
                                <input id="Cname" class="uk-input" type="text" value={{travel_visa_obj.travel_client_ref.client_name}} style="width: 50%;">
                            </p>
                            <p>
                                client's contact number for call:
                                <input id="contact" class="uk-input" type="text" value={{travel_visa_obj.travel_client_ref.contact_number}} style="width: 50%;">
                            </p>
                            <p>
                                Select the date at which the client would be available for call:
                                <input id="followup_date" class="uk-input" type="date" style="width: 50%;">
                            </p>
                            <p>
                                Select the time at which the client would be available for call:
                                <input id="followup_time" class="uk-input" type="time" style="width: 50%;">
                            </p>
                            <p>
                                Remarks name:
                                <input id="followup_remarks" class="uk-input" type="text" style="width: 50%;">
                            </p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-primary" type="button" onclick="createFollowUpVisa('{{ csrf_token }}', '{{ travel_visa_obj.employee_ref_id }}', '{{ app_id }}')">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
                {% if travel_visa_obj %}
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-primary uk-width-1-1" onclick="updateDocumentProcessing('{{ csrf_token }}', '{{ app_id }}', true, 'detail processing', '')">Continue</button>
                </div>
                {% else %}
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-primary uk-width-1-1" onclick="createVisaApplication('{{ csrf_token }}','{{ request.user.id }}', true, '{{ travel_visa_obj.id }}', '{{ travel_visa_obj.travel_client_ref.id }}', 'detail processing')">Continue</button>
                </div>
                {% endif %}
                {% else %}
                <div class="uk-width-1-2">
                    <button class="uk-button uk-button-secondary uk-width-1-1" onclick="updateDocumentProcessing('{{ csrf_token }}', '{{ app_id }}', false, 'unblock_application')">
                        Unblock
                    </button>
                </div>
                <div class="uk-width-1-2">
                    <button class="uk-button uk-button-danger uk-width-1-1">
                        Cancel
                    </button>
                </div>
                {% endif %}
            </div>
        </div>

        <br/>

    </center>

</div>

{% endblock content %} 