{% extends '../header.html' %}
{% load static %}
{% block content %}

<div style="width: 100%; ">

    {% comment %} <div class="uk-card uk-card-primary uk-card-body">
        <div uk-grid style="width: 100%;">
            <div>
                <div class="uk-flex">
                    <div><a href="#">Visa</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#">Packages</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#">Tickets</a></div>
                </div>
            </div>
            <div class="uk-width-1-4@m">
                <div class="uk-flex">
                    <div><a href="#">Insurance</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#"><span uk-icon="icon:push"></span></a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#"><span uk-icon="icon:user"></span></a></div>
                </div>
            </div>
            </div>
        </div>
    </div> {% endcomment %}

{% include '../agent_navbar.html' %}


    <center>

        <br/>
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Details Processing</a></li>
            <li class="uk-disabled"><a>Document Processing</a></li>
            <li class="uk-disabled"><a>Payment Processing</a></li>
        </ul>

        <div class="uk-card uk-card-default uk-card-body" style="text-align: left;width: 70%; margin-top: 5%; background-color: rgb(224, 224, 224); font-family: Roboto; color: black;">
            <label style="font-size: 160%; font-weight: 600; color: rgb(0, 116, 161);">STEP 1: Details Processing</label>
            <hr style="border-color: black;">
            <div class="uk-alert-primary" uk-alert id="alertbox">
            </div>
            <div uk-grid class="uk-child-width-1-2">
                <input type="hidden" id="client_id">
                <div>
                    Select client:<br/>
                    <label style="font-size: 120%;" id="client_name">{% if travel_visa_obj %}{{ travel_visa_obj.travel_client_ref.client_name }}{% endif %}</label>
                    <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #visa-application-client-selection">Scan</button>
                    {% include 'travel/visa/dialogs/visa_application__client_selection.html' %}
                    <!-- <input class="uk-input" id="visa_client_name" style="width: 70%;" type="text"> -->
                </div>
                <div>
                    Applicant Name:<br/>
                    <input class="uk-input" id="applicant_name" style="width: 70%;" type="text" value="{{ travel_visa_obj.travel_client_ref.organization }}">
                </div>
                <div>
                    Passport number:<br/>
                    <label style="font-size: 70%;">The passport is of the format - A2096457 and of 8 characters</label><br/><br/>
                    <input class="uk-input" id="passport_number" style="width: 70%;" type="text" value="{{ travel_visa_obj.passport_no }}"/>
                </div>
                <div>
                    Contact number:<br/>
                    <label style="font-size: 70%;">The number format is - 98XXXXXXXX</label><br/><br/>
                    <input class="uk-input" id="contact_number" style="width: 70%;" type="text" value="{{ travel_visa_obj.contact_number }}">
                </div>
                <div>
                    Select the visiting country: <br/>
                    <ul class="uk-list uk-list-divider" id="country_list" style="padding: 3%; background-color: white; width: 70%; height: 150px; overflow-y: scroll; scroll-behavior: smooth;" onload="scrollToSelected('{{ travel_visa_obj.visiting_country }}')">
                        {% for elem in countries %}

                            <li>
                                <label id="{{ elem }}" onclick="setSelectedCountry(this)">
                                    {% if elem == travel_visa_obj.visiting_country %}
                                    <input class="uk-radio" type="radio" name="radio1" checked>
                                    {% else %}
                                    <input class="uk-radio" type="radio" name="radio1">
                                    {% endif %}
                                    {{ elem }}
                                </label>
                            </li>

                        {% endfor %}
                        
                    </ul>
                </div>
                <div>
                    Sub-Location:<br/>
                    <label style="font-size: 70%;">Use the same if te location comes within Schengen Agreement</label><br/><br/>
                    <input class="uk-input" id="sub_location" style="width: 70%;" type="text" value="{{ travel_visa_obj.sub_location }}"/>
                </div>
                <div class="uk-width-1-1">&nbsp;</div>
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-default" onclick="createVisaApplication('{{ csrf_token }}','{{ request.user.id }}', false, '{{ travel_visa_obj.id }}')">Save Changes</button>
                </div>
                <div class="uk-width-1-3">
                    <button uk-toggle="target: #my-id" class="uk-button uk-button-secondary">Block Application</button>
                    <div id="my-id" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3 class="uk-modal-title">Block Application?</h3>
                            <p>You are blocking the application, which means follow-up will be created for this client.</p>
                            <p>
                                Select the time at which the client would be available for call:
                                <input class="uk-input" type="time" style="width: 50%;">
                            </p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-primary" type="button">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <button class="uk-button uk-button-primary" onclick="createVisaApplication('{{ csrf_token }}','{{ request.user.id }}', true, '{{ travel_visa_obj.id }}')">Continue</button>
                </div>
            </div>
        </div>

        <br/>

    </center>

</div>

{% endblock content %} 