{% load static %}
<div class="uk-card uk-card-primary uk-card-body">
    <div uk-grid style="width: 100%;">
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'visa-application' %}">Visa</a></div>
            </div>
        </div>
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'package-application' %}">Packages</a></div>
            </div>
        </div>
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'tickets-application' %}">Tickets</a></div>
            </div>
        </div>
        {% comment %} <div class="uk-width-1-4@m">
            <div class="uk-flex">
                <div><a href="#">Insurance</a></div>
            </div>
        </div> {% endcomment %}
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'logout-view' %}"><span uk-icon="icon:push"></span></a></div>
            </div>
        </div>
        {% comment %} <div>
            <div class="uk-flex">
                <div><a href="#"><span uk-icon="icon:user"></span></a></div>
            </div>
        </div> {% endcomment %}
        </div>
    </div>
</div>