{% load static %}
<div class="uk-card uk-card-primary uk-card-body">
    <div uk-grid style="width: 100%;">
        <div>
            <img src="{% static 'img/vbslogo.jpg' %}" style="width:50px; height:50px">
        </div>
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'visa-application' %}">Visa</a></div>
            </div>
        </div>
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'package-application' %}">Packages</a></div>
            </div>
        </div>
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'tickets-application' %}">Tickets</a></div>
            </div>
        </div>
        
        <div>
            <div class="uk-flex">
                <div><a href="{% url 'logout-view' %}"><span uk-icon="icon:push"></span></a></div>
            </div>
        </div>
        <div>
            <div class="uk-flex">
                <div><a href="#"><span uk-icon="icon:user"></span></a></div>
            </div>
        </div>
        </div>
    </div>
</div>