<div style="width: 100%;">
    
    <div class="uk-card uk-card-primary uk-card-body">
        <div uk-grid style="width: 100%;">
            <div>
                <div class="uk-flex">
                    <div><a href="{% url 'admin-agents' %}">Agents</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="{% url 'admin-payments' %}">Payments</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="{% url 'admin-followups' %}">Follow-ups</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="{% url 'admin-clients' %}">Clients</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#">Transfer Control</a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="{% url 'admin-agent-mgmt' %}">Account Management</a></div>
                </div>
            </div>
            
            <div>
                <div class="uk-flex">
                    <div><a href="{% url 'logout-view' %}"><span uk-icon="icon:push"></span></a></div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div><a href="#"><span uk-icon="icon:user"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>