{% extends '../header.html' %}
{% load static %}
{% block content %}

    <div style="width: 100%;">
    
        <div class="uk-card uk-card-primary uk-card-body">
            <div uk-grid style="width: 100%;">
                <div>
                    <div class="uk-flex">
                        <div><a href="#">Agents</a></div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex">
                        <div><a href="#">Payments</a></div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex">
                        <div><a href="#">Follow-ups</a></div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex">
                        <div><a href="#">Transfer Control</a></div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex">
                        <div><a href="#">Account Management</a></div>
                    </div>
                </div>
                
                
                <div>
                    <div class="uk-flex">
                        <div><a href="#"><span uk-icon="icon:push"></span></a></div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex">
                        <div><a href="#"><span uk-icon="icon:user"></span></a></div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <center>
            
            <div uk-grid style="padding: 3%;">
                <div class="uk-width-1-4" style="text-align: left;">
                    <label style="font-size: 200%; font-weight: 600; color: rgb(0, 116, 161);">All Active Clients</label>
                    <br/><br/>
                    <button class="uk-button uk-button-secondary" type="button" uk-toggle="target: #vbs-travel-new-client">Add New Client</button>
                    {% include 'travel/admin/dialogs/clients__new_client.html' %}
                    <br/><br/>
                    <div class="uk-tile uk-tile-secondary" style="width: 100%; height: 500px; overflow-y: scroll; scroll-behavior: smooth; text-align: left;">
                        {% if clients_list|length == 0 %}
                            <div style="font-size: 200%; margin-top: 5%;">
                                <center>
                                    <i class="fa-solid fa-magnifying-glass"></i><br/>
                                    No clients recorded till now.
                                </center>
                            </div>
                        {% else %}
                            {% for elem in clients_list %}
                                {% include 'travel/admin/cards/clients__client_selector.html' with client_data=elem %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="uk-width-3-4" style="text-align: left;">
                    <div class="uk-card uk-card-default uk-card-body" style="width: 100%; height: 100%;">
                        <center>
                            <div style="font-size: 200%; margin-top: 5%; width: 50%;">
                                <i class="fa-regular fa-hand-pointer"></i><br/>
                                No agents are selected. Please select the agent and view the records
                            </div>
                        </center>
                    </div>
                </div>
            </div>

        </center>

        <hr style="border-color: black;">

        <center>
            <div style="text-align: left; padding-left: 3%;">
                <label style="font-size: 200%; font-weight: 600; color: rgb(0, 116, 161);">Clients pending for payments </label>
                <br/><br/>
                <div uk-slider style="padding-right: 3%;">
                    {% if clients_list|length == 0 %}
                        <div style="font-size: 100%; margin-top: 5%; text-align: left;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                No clients recorded till now.
                        </div>
                    {% else %}
                        <!-- <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@ uk-grid" style="text-align: left;">
                        
                        </ul> -->
                        <div style="font-size: 140%; margin-top: 5%; text-align: left;">
                            <i class="fa-solid fa-hammer fa-bounce"></i>
                            Feature is in maintainence
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </center>

        <br/><hr style="border-color: black;"><br/>

        <center>
            <div style="text-align: left; padding-left: 3%;">
                <label style="font-size: 200%; font-weight: 600; color: rgb(0, 116, 161);">Client with approaching deadline </label>
                <br/><br/>
                <div uk-slider style="padding-right: 3%;">
                    {% if clients_list|length == 0 %}
                        <div style="font-size: 100%; margin-top: 5%; text-align: left;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                No clients recorded till now.
                        </div>
                    {% else %}
                        <!-- <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@ uk-grid" style="text-align: left;">
                            
                            
                        </ul> -->
                        <div style="font-size: 140%; margin-top: 5%; text-align: left;">
                            <i class="fa-solid fa-hammer fa-bounce"></i>
                            Feature is in maintainence
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </center>
        
    </div>

    <script>

        

        function fetchClientRecord(id){
            
        }
    </script>

{% endblock content %}